<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xsdPro.dao.EducationMapper">
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Education">
    <constructor>
      <idArg column="company_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="Education_code" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="Education_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    company_id, id, Education_code, Education_name, remark
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.EducationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_education
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.example.xsdPro.model.EducationKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_education
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.xsdPro.model.EducationKey">
    delete from tbl_education
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Education">
    insert into tbl_education (company_id, id, Education_code, 
      Education_name, remark)
    values (#{companyId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{educationCode,jdbcType=NCHAR}, 
      #{educationName,jdbcType=NCHAR}, #{remark,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Education">
    insert into tbl_education
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="educationCode != null">
        Education_code,
      </if>
      <if test="educationName != null">
        Education_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="educationCode != null">
        #{educationCode,jdbcType=NCHAR},
      </if>
      <if test="educationName != null">
        #{educationName,jdbcType=NCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.EducationExample" resultType="java.lang.Integer">
    select count(*) from tbl_education
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_education
    <set>
      <if test="record.companyId != null">
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.educationCode != null">
        Education_code = #{record.educationCode,jdbcType=NCHAR},
      </if>
      <if test="record.educationName != null">
        Education_name = #{record.educationName,jdbcType=NCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_education
    set company_id = #{record.companyId,jdbcType=INTEGER},
      id = #{record.id,jdbcType=INTEGER},
      Education_code = #{record.educationCode,jdbcType=NCHAR},
      Education_name = #{record.educationName,jdbcType=NCHAR},
      remark = #{record.remark,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Education">
    update tbl_education
    <set>
      <if test="educationCode != null">
        Education_code = #{educationCode,jdbcType=NCHAR},
      </if>
      <if test="educationName != null">
        Education_name = #{educationName,jdbcType=NCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Education">
    update tbl_education
    set Education_code = #{educationCode,jdbcType=NCHAR},
      Education_name = #{educationName,jdbcType=NCHAR},
      remark = #{remark,jdbcType=NCHAR}
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Education">
    <constructor>
      <idArg column="company_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="Education_code" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="Education_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    company_id, id, Education_code, Education_name, remark
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.EducationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_education
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.example.xsdPro.model.EducationKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_education
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.xsdPro.model.EducationKey">
    delete from tbl_education
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Education">
    insert into tbl_education (company_id, id, Education_code, 
      Education_name, remark)
    values (#{companyId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{educationCode,jdbcType=NCHAR}, 
      #{educationName,jdbcType=NCHAR}, #{remark,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Education">
    insert into tbl_education
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="educationCode != null">
        Education_code,
      </if>
      <if test="educationName != null">
        Education_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="educationCode != null">
        #{educationCode,jdbcType=NCHAR},
      </if>
      <if test="educationName != null">
        #{educationName,jdbcType=NCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.EducationExample" resultType="java.lang.Integer">
    select count(*) from tbl_education
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_education
    <set>
      <if test="record.companyId != null">
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.educationCode != null">
        Education_code = #{record.educationCode,jdbcType=NCHAR},
      </if>
      <if test="record.educationName != null">
        Education_name = #{record.educationName,jdbcType=NCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_education
    set company_id = #{record.companyId,jdbcType=INTEGER},
      id = #{record.id,jdbcType=INTEGER},
      Education_code = #{record.educationCode,jdbcType=NCHAR},
      Education_name = #{record.educationName,jdbcType=NCHAR},
      remark = #{record.remark,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Education">
    update tbl_education
    <set>
      <if test="educationCode != null">
        Education_code = #{educationCode,jdbcType=NCHAR},
      </if>
      <if test="educationName != null">
        Education_name = #{educationName,jdbcType=NCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Education">
    update tbl_education
    set Education_code = #{educationCode,jdbcType=NCHAR},
      Education_name = #{educationName,jdbcType=NCHAR},
      remark = #{remark,jdbcType=NCHAR}
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Education">
    <constructor>
      <idArg column="company_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="Education_code" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="Education_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    company_id, id, Education_code, Education_name, remark
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.EducationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_education
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.example.xsdPro.model.EducationKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_education
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.xsdPro.model.EducationKey">
    delete from tbl_education
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Education">
    insert into tbl_education (company_id, id, Education_code, 
      Education_name, remark)
    values (#{companyId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{educationCode,jdbcType=NCHAR}, 
      #{educationName,jdbcType=NCHAR}, #{remark,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Education">
    insert into tbl_education
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="educationCode != null">
        Education_code,
      </if>
      <if test="educationName != null">
        Education_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="educationCode != null">
        #{educationCode,jdbcType=NCHAR},
      </if>
      <if test="educationName != null">
        #{educationName,jdbcType=NCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.EducationExample" resultType="java.lang.Integer">
    select count(*) from tbl_education
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_education
    <set>
      <if test="record.companyId != null">
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.educationCode != null">
        Education_code = #{record.educationCode,jdbcType=NCHAR},
      </if>
      <if test="record.educationName != null">
        Education_name = #{record.educationName,jdbcType=NCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_education
    set company_id = #{record.companyId,jdbcType=INTEGER},
      id = #{record.id,jdbcType=INTEGER},
      Education_code = #{record.educationCode,jdbcType=NCHAR},
      Education_name = #{record.educationName,jdbcType=NCHAR},
      remark = #{record.remark,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Education">
    update tbl_education
    <set>
      <if test="educationCode != null">
        Education_code = #{educationCode,jdbcType=NCHAR},
      </if>
      <if test="educationName != null">
        Education_name = #{educationName,jdbcType=NCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Education">
    update tbl_education
    set Education_code = #{educationCode,jdbcType=NCHAR},
      Education_name = #{educationName,jdbcType=NCHAR},
      remark = #{remark,jdbcType=NCHAR}
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Education">
    <constructor>
      <idArg column="company_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="Education_code" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="Education_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    company_id, id, Education_code, Education_name, remark
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.EducationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_education
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.example.xsdPro.model.EducationKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_education
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.xsdPro.model.EducationKey">
    delete from tbl_education
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Education">
    insert into tbl_education (company_id, id, Education_code, 
      Education_name, remark)
    values (#{companyId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{educationCode,jdbcType=NCHAR}, 
      #{educationName,jdbcType=NCHAR}, #{remark,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Education">
    insert into tbl_education
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="educationCode != null">
        Education_code,
      </if>
      <if test="educationName != null">
        Education_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="educationCode != null">
        #{educationCode,jdbcType=NCHAR},
      </if>
      <if test="educationName != null">
        #{educationName,jdbcType=NCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.EducationExample" resultType="java.lang.Integer">
    select count(*) from tbl_education
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_education
    <set>
      <if test="record.companyId != null">
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.educationCode != null">
        Education_code = #{record.educationCode,jdbcType=NCHAR},
      </if>
      <if test="record.educationName != null">
        Education_name = #{record.educationName,jdbcType=NCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_education
    set company_id = #{record.companyId,jdbcType=INTEGER},
      id = #{record.id,jdbcType=INTEGER},
      Education_code = #{record.educationCode,jdbcType=NCHAR},
      Education_name = #{record.educationName,jdbcType=NCHAR},
      remark = #{record.remark,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Education">
    update tbl_education
    <set>
      <if test="educationCode != null">
        Education_code = #{educationCode,jdbcType=NCHAR},
      </if>
      <if test="educationName != null">
        Education_name = #{educationName,jdbcType=NCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Education">
    update tbl_education
    set Education_code = #{educationCode,jdbcType=NCHAR},
      Education_name = #{educationName,jdbcType=NCHAR},
      remark = #{remark,jdbcType=NCHAR}
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Education">
    <constructor>
      <idArg column="company_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="Education_code" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="Education_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    company_id, id, Education_code, Education_name, remark
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.EducationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_education
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.example.xsdPro.model.EducationKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_education
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.xsdPro.model.EducationKey">
    delete from tbl_education
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Education">
    insert into tbl_education (company_id, id, Education_code, 
      Education_name, remark)
    values (#{companyId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{educationCode,jdbcType=NCHAR}, 
      #{educationName,jdbcType=NCHAR}, #{remark,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Education">
    insert into tbl_education
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="educationCode != null">
        Education_code,
      </if>
      <if test="educationName != null">
        Education_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="educationCode != null">
        #{educationCode,jdbcType=NCHAR},
      </if>
      <if test="educationName != null">
        #{educationName,jdbcType=NCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.EducationExample" resultType="java.lang.Integer">
    select count(*) from tbl_education
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_education
    <set>
      <if test="record.companyId != null">
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.educationCode != null">
        Education_code = #{record.educationCode,jdbcType=NCHAR},
      </if>
      <if test="record.educationName != null">
        Education_name = #{record.educationName,jdbcType=NCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_education
    set company_id = #{record.companyId,jdbcType=INTEGER},
      id = #{record.id,jdbcType=INTEGER},
      Education_code = #{record.educationCode,jdbcType=NCHAR},
      Education_name = #{record.educationName,jdbcType=NCHAR},
      remark = #{record.remark,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Education">
    update tbl_education
    <set>
      <if test="educationCode != null">
        Education_code = #{educationCode,jdbcType=NCHAR},
      </if>
      <if test="educationName != null">
        Education_name = #{educationName,jdbcType=NCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Education">
    update tbl_education
    set Education_code = #{educationCode,jdbcType=NCHAR},
      Education_name = #{educationName,jdbcType=NCHAR},
      remark = #{remark,jdbcType=NCHAR}
    where company_id = #{companyId,jdbcType=INTEGER}
      and id = #{id,jdbcType=INTEGER}
  </update>
</mapper>