<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xsdPro.dao.MediaMapper">
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Media">
    <constructor>
      <idArg column="media_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="media_name" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    media_id, media_name
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.MediaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_media
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_media
    where media_id = #{mediaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_media
    where media_id = #{mediaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Media">
    insert into tbl_media (media_id, media_name)
    values (#{mediaId,jdbcType=INTEGER}, #{mediaName,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Media">
    insert into tbl_media
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mediaId != null">
        media_id,
      </if>
      <if test="mediaName != null">
        media_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mediaId != null">
        #{mediaId,jdbcType=INTEGER},
      </if>
      <if test="mediaName != null">
        #{mediaName,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.MediaExample" resultType="java.lang.Integer">
    select count(*) from tbl_media
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_media
    <set>
      <if test="record.mediaId != null">
        media_id = #{record.mediaId,jdbcType=INTEGER},
      </if>
      <if test="record.mediaName != null">
        media_name = #{record.mediaName,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_media
    set media_id = #{record.mediaId,jdbcType=INTEGER},
      media_name = #{record.mediaName,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Media">
    update tbl_media
    <set>
      <if test="mediaName != null">
        media_name = #{mediaName,jdbcType=NCHAR},
      </if>
    </set>
    where media_id = #{mediaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Media">
    update tbl_media
    set media_name = #{mediaName,jdbcType=NCHAR}
    where media_id = #{mediaId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Media">
    <constructor>
      <idArg column="media_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="media_name" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    media_id, media_name
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.MediaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_media
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_media
    where media_id = #{mediaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_media
    where media_id = #{mediaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Media">
    insert into tbl_media (media_id, media_name)
    values (#{mediaId,jdbcType=INTEGER}, #{mediaName,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Media">
    insert into tbl_media
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mediaId != null">
        media_id,
      </if>
      <if test="mediaName != null">
        media_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mediaId != null">
        #{mediaId,jdbcType=INTEGER},
      </if>
      <if test="mediaName != null">
        #{mediaName,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.MediaExample" resultType="java.lang.Integer">
    select count(*) from tbl_media
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_media
    <set>
      <if test="record.mediaId != null">
        media_id = #{record.mediaId,jdbcType=INTEGER},
      </if>
      <if test="record.mediaName != null">
        media_name = #{record.mediaName,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_media
    set media_id = #{record.mediaId,jdbcType=INTEGER},
      media_name = #{record.mediaName,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Media">
    update tbl_media
    <set>
      <if test="mediaName != null">
        media_name = #{mediaName,jdbcType=NCHAR},
      </if>
    </set>
    where media_id = #{mediaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Media">
    update tbl_media
    set media_name = #{mediaName,jdbcType=NCHAR}
    where media_id = #{mediaId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Media">
    <constructor>
      <idArg column="media_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="media_name" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    media_id, media_name
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.MediaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_media
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_media
    where media_id = #{mediaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_media
    where media_id = #{mediaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Media">
    insert into tbl_media (media_id, media_name)
    values (#{mediaId,jdbcType=INTEGER}, #{mediaName,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Media">
    insert into tbl_media
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mediaId != null">
        media_id,
      </if>
      <if test="mediaName != null">
        media_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mediaId != null">
        #{mediaId,jdbcType=INTEGER},
      </if>
      <if test="mediaName != null">
        #{mediaName,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.MediaExample" resultType="java.lang.Integer">
    select count(*) from tbl_media
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_media
    <set>
      <if test="record.mediaId != null">
        media_id = #{record.mediaId,jdbcType=INTEGER},
      </if>
      <if test="record.mediaName != null">
        media_name = #{record.mediaName,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_media
    set media_id = #{record.mediaId,jdbcType=INTEGER},
      media_name = #{record.mediaName,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Media">
    update tbl_media
    <set>
      <if test="mediaName != null">
        media_name = #{mediaName,jdbcType=NCHAR},
      </if>
    </set>
    where media_id = #{mediaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Media">
    update tbl_media
    set media_name = #{mediaName,jdbcType=NCHAR}
    where media_id = #{mediaId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Media">
    <constructor>
      <idArg column="media_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="media_name" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    media_id, media_name
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.MediaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_media
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_media
    where media_id = #{mediaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_media
    where media_id = #{mediaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Media">
    insert into tbl_media (media_id, media_name)
    values (#{mediaId,jdbcType=INTEGER}, #{mediaName,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Media">
    insert into tbl_media
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mediaId != null">
        media_id,
      </if>
      <if test="mediaName != null">
        media_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mediaId != null">
        #{mediaId,jdbcType=INTEGER},
      </if>
      <if test="mediaName != null">
        #{mediaName,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.MediaExample" resultType="java.lang.Integer">
    select count(*) from tbl_media
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_media
    <set>
      <if test="record.mediaId != null">
        media_id = #{record.mediaId,jdbcType=INTEGER},
      </if>
      <if test="record.mediaName != null">
        media_name = #{record.mediaName,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_media
    set media_id = #{record.mediaId,jdbcType=INTEGER},
      media_name = #{record.mediaName,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Media">
    update tbl_media
    <set>
      <if test="mediaName != null">
        media_name = #{mediaName,jdbcType=NCHAR},
      </if>
    </set>
    where media_id = #{mediaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Media">
    update tbl_media
    set media_name = #{mediaName,jdbcType=NCHAR}
    where media_id = #{mediaId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Media">
    <constructor>
      <idArg column="media_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="media_name" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    media_id, media_name
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.MediaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_media
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_media
    where media_id = #{mediaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_media
    where media_id = #{mediaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Media">
    insert into tbl_media (media_id, media_name)
    values (#{mediaId,jdbcType=INTEGER}, #{mediaName,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Media">
    insert into tbl_media
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mediaId != null">
        media_id,
      </if>
      <if test="mediaName != null">
        media_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mediaId != null">
        #{mediaId,jdbcType=INTEGER},
      </if>
      <if test="mediaName != null">
        #{mediaName,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.MediaExample" resultType="java.lang.Integer">
    select count(*) from tbl_media
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_media
    <set>
      <if test="record.mediaId != null">
        media_id = #{record.mediaId,jdbcType=INTEGER},
      </if>
      <if test="record.mediaName != null">
        media_name = #{record.mediaName,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_media
    set media_id = #{record.mediaId,jdbcType=INTEGER},
      media_name = #{record.mediaName,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Media">
    update tbl_media
    <set>
      <if test="mediaName != null">
        media_name = #{mediaName,jdbcType=NCHAR},
      </if>
    </set>
    where media_id = #{mediaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Media">
    update tbl_media
    set media_name = #{mediaName,jdbcType=NCHAR}
    where media_id = #{mediaId,jdbcType=INTEGER}
  </update>
</mapper>