<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xsdPro.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Role">
    <constructor>
      <idArg column="Company_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="role_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="role_code" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="role_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="statue" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ins_person_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="ins_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="remark" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Company_id, role_id, role_code, role_name, statue, ins_person_name, ins_date, remark
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.RoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.example.xsdPro.model.RoleKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_role
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.xsdPro.model.RoleKey">
    delete from tbl_role
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Role">
    insert into tbl_role (Company_id, role_id, role_code, 
      role_name, statue, ins_person_name, 
      ins_date, remark)
    values (#{companyId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{roleCode,jdbcType=NCHAR}, 
      #{roleName,jdbcType=NCHAR}, #{statue,jdbcType=INTEGER}, #{insPersonName,jdbcType=NCHAR}, 
      #{insDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Role">
    insert into tbl_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        Company_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleCode != null">
        role_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="statue != null">
        statue,
      </if>
      <if test="insPersonName != null">
        ins_person_name,
      </if>
      <if test="insDate != null">
        ins_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=NCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=NCHAR},
      </if>
      <if test="statue != null">
        #{statue,jdbcType=INTEGER},
      </if>
      <if test="insPersonName != null">
        #{insPersonName,jdbcType=NCHAR},
      </if>
      <if test="insDate != null">
        #{insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.RoleExample" resultType="java.lang.Integer">
    select count(*) from tbl_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_role
    <set>
      <if test="record.companyId != null">
        Company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.roleCode != null">
        role_code = #{record.roleCode,jdbcType=NCHAR},
      </if>
      <if test="record.roleName != null">
        role_name = #{record.roleName,jdbcType=NCHAR},
      </if>
      <if test="record.statue != null">
        statue = #{record.statue,jdbcType=INTEGER},
      </if>
      <if test="record.insPersonName != null">
        ins_person_name = #{record.insPersonName,jdbcType=NCHAR},
      </if>
      <if test="record.insDate != null">
        ins_date = #{record.insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_role
    set Company_id = #{record.companyId,jdbcType=INTEGER},
      role_id = #{record.roleId,jdbcType=INTEGER},
      role_code = #{record.roleCode,jdbcType=NCHAR},
      role_name = #{record.roleName,jdbcType=NCHAR},
      statue = #{record.statue,jdbcType=INTEGER},
      ins_person_name = #{record.insPersonName,jdbcType=NCHAR},
      ins_date = #{record.insDate,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Role">
    update tbl_role
    <set>
      <if test="roleCode != null">
        role_code = #{roleCode,jdbcType=NCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=NCHAR},
      </if>
      <if test="statue != null">
        statue = #{statue,jdbcType=INTEGER},
      </if>
      <if test="insPersonName != null">
        ins_person_name = #{insPersonName,jdbcType=NCHAR},
      </if>
      <if test="insDate != null">
        ins_date = #{insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NCHAR},
      </if>
    </set>
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Role">
    update tbl_role
    set role_code = #{roleCode,jdbcType=NCHAR},
      role_name = #{roleName,jdbcType=NCHAR},
      statue = #{statue,jdbcType=INTEGER},
      ins_person_name = #{insPersonName,jdbcType=NCHAR},
      ins_date = #{insDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=NCHAR}
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Role">
    <constructor>
      <idArg column="Company_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="role_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="role_code" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="role_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="statue" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ins_person_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="ins_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="remark" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Company_id, role_id, role_code, role_name, statue, ins_person_name, ins_date, remark
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.RoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.example.xsdPro.model.RoleKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_role
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.xsdPro.model.RoleKey">
    delete from tbl_role
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Role">
    insert into tbl_role (Company_id, role_id, role_code, 
      role_name, statue, ins_person_name, 
      ins_date, remark)
    values (#{companyId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{roleCode,jdbcType=NCHAR}, 
      #{roleName,jdbcType=NCHAR}, #{statue,jdbcType=INTEGER}, #{insPersonName,jdbcType=NCHAR}, 
      #{insDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Role">
    insert into tbl_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        Company_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleCode != null">
        role_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="statue != null">
        statue,
      </if>
      <if test="insPersonName != null">
        ins_person_name,
      </if>
      <if test="insDate != null">
        ins_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=NCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=NCHAR},
      </if>
      <if test="statue != null">
        #{statue,jdbcType=INTEGER},
      </if>
      <if test="insPersonName != null">
        #{insPersonName,jdbcType=NCHAR},
      </if>
      <if test="insDate != null">
        #{insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.RoleExample" resultType="java.lang.Integer">
    select count(*) from tbl_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_role
    <set>
      <if test="record.companyId != null">
        Company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.roleCode != null">
        role_code = #{record.roleCode,jdbcType=NCHAR},
      </if>
      <if test="record.roleName != null">
        role_name = #{record.roleName,jdbcType=NCHAR},
      </if>
      <if test="record.statue != null">
        statue = #{record.statue,jdbcType=INTEGER},
      </if>
      <if test="record.insPersonName != null">
        ins_person_name = #{record.insPersonName,jdbcType=NCHAR},
      </if>
      <if test="record.insDate != null">
        ins_date = #{record.insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_role
    set Company_id = #{record.companyId,jdbcType=INTEGER},
      role_id = #{record.roleId,jdbcType=INTEGER},
      role_code = #{record.roleCode,jdbcType=NCHAR},
      role_name = #{record.roleName,jdbcType=NCHAR},
      statue = #{record.statue,jdbcType=INTEGER},
      ins_person_name = #{record.insPersonName,jdbcType=NCHAR},
      ins_date = #{record.insDate,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Role">
    update tbl_role
    <set>
      <if test="roleCode != null">
        role_code = #{roleCode,jdbcType=NCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=NCHAR},
      </if>
      <if test="statue != null">
        statue = #{statue,jdbcType=INTEGER},
      </if>
      <if test="insPersonName != null">
        ins_person_name = #{insPersonName,jdbcType=NCHAR},
      </if>
      <if test="insDate != null">
        ins_date = #{insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NCHAR},
      </if>
    </set>
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Role">
    update tbl_role
    set role_code = #{roleCode,jdbcType=NCHAR},
      role_name = #{roleName,jdbcType=NCHAR},
      statue = #{statue,jdbcType=INTEGER},
      ins_person_name = #{insPersonName,jdbcType=NCHAR},
      ins_date = #{insDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=NCHAR}
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Role">
    <constructor>
      <idArg column="Company_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="role_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="role_code" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="role_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="statue" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ins_person_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="ins_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="remark" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Company_id, role_id, role_code, role_name, statue, ins_person_name, ins_date, remark
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.RoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.example.xsdPro.model.RoleKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_role
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.xsdPro.model.RoleKey">
    delete from tbl_role
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Role">
    insert into tbl_role (Company_id, role_id, role_code, 
      role_name, statue, ins_person_name, 
      ins_date, remark)
    values (#{companyId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{roleCode,jdbcType=NCHAR}, 
      #{roleName,jdbcType=NCHAR}, #{statue,jdbcType=INTEGER}, #{insPersonName,jdbcType=NCHAR}, 
      #{insDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Role">
    insert into tbl_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        Company_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleCode != null">
        role_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="statue != null">
        statue,
      </if>
      <if test="insPersonName != null">
        ins_person_name,
      </if>
      <if test="insDate != null">
        ins_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=NCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=NCHAR},
      </if>
      <if test="statue != null">
        #{statue,jdbcType=INTEGER},
      </if>
      <if test="insPersonName != null">
        #{insPersonName,jdbcType=NCHAR},
      </if>
      <if test="insDate != null">
        #{insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.RoleExample" resultType="java.lang.Integer">
    select count(*) from tbl_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_role
    <set>
      <if test="record.companyId != null">
        Company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.roleCode != null">
        role_code = #{record.roleCode,jdbcType=NCHAR},
      </if>
      <if test="record.roleName != null">
        role_name = #{record.roleName,jdbcType=NCHAR},
      </if>
      <if test="record.statue != null">
        statue = #{record.statue,jdbcType=INTEGER},
      </if>
      <if test="record.insPersonName != null">
        ins_person_name = #{record.insPersonName,jdbcType=NCHAR},
      </if>
      <if test="record.insDate != null">
        ins_date = #{record.insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_role
    set Company_id = #{record.companyId,jdbcType=INTEGER},
      role_id = #{record.roleId,jdbcType=INTEGER},
      role_code = #{record.roleCode,jdbcType=NCHAR},
      role_name = #{record.roleName,jdbcType=NCHAR},
      statue = #{record.statue,jdbcType=INTEGER},
      ins_person_name = #{record.insPersonName,jdbcType=NCHAR},
      ins_date = #{record.insDate,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Role">
    update tbl_role
    <set>
      <if test="roleCode != null">
        role_code = #{roleCode,jdbcType=NCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=NCHAR},
      </if>
      <if test="statue != null">
        statue = #{statue,jdbcType=INTEGER},
      </if>
      <if test="insPersonName != null">
        ins_person_name = #{insPersonName,jdbcType=NCHAR},
      </if>
      <if test="insDate != null">
        ins_date = #{insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NCHAR},
      </if>
    </set>
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Role">
    update tbl_role
    set role_code = #{roleCode,jdbcType=NCHAR},
      role_name = #{roleName,jdbcType=NCHAR},
      statue = #{statue,jdbcType=INTEGER},
      ins_person_name = #{insPersonName,jdbcType=NCHAR},
      ins_date = #{insDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=NCHAR}
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Role">
    <constructor>
      <idArg column="Company_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="role_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="role_code" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="role_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="statue" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ins_person_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="ins_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="remark" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Company_id, role_id, role_code, role_name, statue, ins_person_name, ins_date, remark
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.RoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.example.xsdPro.model.RoleKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_role
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.xsdPro.model.RoleKey">
    delete from tbl_role
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Role">
    insert into tbl_role (Company_id, role_id, role_code, 
      role_name, statue, ins_person_name, 
      ins_date, remark)
    values (#{companyId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{roleCode,jdbcType=NCHAR}, 
      #{roleName,jdbcType=NCHAR}, #{statue,jdbcType=INTEGER}, #{insPersonName,jdbcType=NCHAR}, 
      #{insDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Role">
    insert into tbl_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        Company_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleCode != null">
        role_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="statue != null">
        statue,
      </if>
      <if test="insPersonName != null">
        ins_person_name,
      </if>
      <if test="insDate != null">
        ins_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=NCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=NCHAR},
      </if>
      <if test="statue != null">
        #{statue,jdbcType=INTEGER},
      </if>
      <if test="insPersonName != null">
        #{insPersonName,jdbcType=NCHAR},
      </if>
      <if test="insDate != null">
        #{insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.RoleExample" resultType="java.lang.Integer">
    select count(*) from tbl_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_role
    <set>
      <if test="record.companyId != null">
        Company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.roleCode != null">
        role_code = #{record.roleCode,jdbcType=NCHAR},
      </if>
      <if test="record.roleName != null">
        role_name = #{record.roleName,jdbcType=NCHAR},
      </if>
      <if test="record.statue != null">
        statue = #{record.statue,jdbcType=INTEGER},
      </if>
      <if test="record.insPersonName != null">
        ins_person_name = #{record.insPersonName,jdbcType=NCHAR},
      </if>
      <if test="record.insDate != null">
        ins_date = #{record.insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_role
    set Company_id = #{record.companyId,jdbcType=INTEGER},
      role_id = #{record.roleId,jdbcType=INTEGER},
      role_code = #{record.roleCode,jdbcType=NCHAR},
      role_name = #{record.roleName,jdbcType=NCHAR},
      statue = #{record.statue,jdbcType=INTEGER},
      ins_person_name = #{record.insPersonName,jdbcType=NCHAR},
      ins_date = #{record.insDate,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Role">
    update tbl_role
    <set>
      <if test="roleCode != null">
        role_code = #{roleCode,jdbcType=NCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=NCHAR},
      </if>
      <if test="statue != null">
        statue = #{statue,jdbcType=INTEGER},
      </if>
      <if test="insPersonName != null">
        ins_person_name = #{insPersonName,jdbcType=NCHAR},
      </if>
      <if test="insDate != null">
        ins_date = #{insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NCHAR},
      </if>
    </set>
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Role">
    update tbl_role
    set role_code = #{roleCode,jdbcType=NCHAR},
      role_name = #{roleName,jdbcType=NCHAR},
      statue = #{statue,jdbcType=INTEGER},
      ins_person_name = #{insPersonName,jdbcType=NCHAR},
      ins_date = #{insDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=NCHAR}
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.example.xsdPro.model.Role">
    <constructor>
      <idArg column="Company_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <idArg column="role_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="role_code" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="role_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="statue" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ins_person_name" javaType="java.lang.String" jdbcType="NCHAR" />
      <arg column="ins_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="remark" javaType="java.lang.String" jdbcType="NCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Company_id, role_id, role_code, role_name, statue, ins_person_name, ins_date, remark
  </sql>
  <select id="selectByExample" parameterType="com.example.xsdPro.model.RoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.example.xsdPro.model.RoleKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_role
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.xsdPro.model.RoleKey">
    delete from tbl_role
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.xsdPro.model.Role">
    insert into tbl_role (Company_id, role_id, role_code, 
      role_name, statue, ins_person_name, 
      ins_date, remark)
    values (#{companyId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{roleCode,jdbcType=NCHAR}, 
      #{roleName,jdbcType=NCHAR}, #{statue,jdbcType=INTEGER}, #{insPersonName,jdbcType=NCHAR}, 
      #{insDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=NCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xsdPro.model.Role">
    insert into tbl_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        Company_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleCode != null">
        role_code,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="statue != null">
        statue,
      </if>
      <if test="insPersonName != null">
        ins_person_name,
      </if>
      <if test="insDate != null">
        ins_date,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleCode != null">
        #{roleCode,jdbcType=NCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=NCHAR},
      </if>
      <if test="statue != null">
        #{statue,jdbcType=INTEGER},
      </if>
      <if test="insPersonName != null">
        #{insPersonName,jdbcType=NCHAR},
      </if>
      <if test="insDate != null">
        #{insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xsdPro.model.RoleExample" resultType="java.lang.Integer">
    select count(*) from tbl_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_role
    <set>
      <if test="record.companyId != null">
        Company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.roleCode != null">
        role_code = #{record.roleCode,jdbcType=NCHAR},
      </if>
      <if test="record.roleName != null">
        role_name = #{record.roleName,jdbcType=NCHAR},
      </if>
      <if test="record.statue != null">
        statue = #{record.statue,jdbcType=INTEGER},
      </if>
      <if test="record.insPersonName != null">
        ins_person_name = #{record.insPersonName,jdbcType=NCHAR},
      </if>
      <if test="record.insDate != null">
        ins_date = #{record.insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=NCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_role
    set Company_id = #{record.companyId,jdbcType=INTEGER},
      role_id = #{record.roleId,jdbcType=INTEGER},
      role_code = #{record.roleCode,jdbcType=NCHAR},
      role_name = #{record.roleName,jdbcType=NCHAR},
      statue = #{record.statue,jdbcType=INTEGER},
      ins_person_name = #{record.insPersonName,jdbcType=NCHAR},
      ins_date = #{record.insDate,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=NCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xsdPro.model.Role">
    update tbl_role
    <set>
      <if test="roleCode != null">
        role_code = #{roleCode,jdbcType=NCHAR},
      </if>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=NCHAR},
      </if>
      <if test="statue != null">
        statue = #{statue,jdbcType=INTEGER},
      </if>
      <if test="insPersonName != null">
        ins_person_name = #{insPersonName,jdbcType=NCHAR},
      </if>
      <if test="insDate != null">
        ins_date = #{insDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=NCHAR},
      </if>
    </set>
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xsdPro.model.Role">
    update tbl_role
    set role_code = #{roleCode,jdbcType=NCHAR},
      role_name = #{roleName,jdbcType=NCHAR},
      statue = #{statue,jdbcType=INTEGER},
      ins_person_name = #{insPersonName,jdbcType=NCHAR},
      ins_date = #{insDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=NCHAR}
    where Company_id = #{companyId,jdbcType=INTEGER}
      and role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>